<div>
<%

task = cur_task()
exec = cur_exec()
run = cur_run()

show_toaster_tasks = true # TODO

%>
<h1>Task Executions</h1>
<% if task 
global_executions = task.global_executions
%>
	<h2>Details of Task '<%= task.name %>'</h2>
	<table>
		<tr><td>Number of executions:</td><td><%= global_executions.size %></td></tr>
	</table>

	<h3>Executions</h3>
	<table class="properties tablesorter">
	<thead>
	<tr><th>#</th><th>Automation Run</th><th>Start Time</th><th>Duration</th><th>Success</th><th>Property<br/>Changes</th><th>Actions</th></tr>
	</thead>
	<tbody>
	<% 	global_executions.each_with_index do |exe,index| 
		active = exe.id.to_s == param('exe')
		param_exe = active ? "" : exe.id
		run = exe.automation_run
	%>
	<tr class="<%= exe.success ? 'success' : 'error' %><%= active ? ' active' : '' %>">
		<td><%= index+1 %></td>
		<td><% if run.automation %>
		<a href="/execs/<%= run.automation.id %>/<%= run.id %>"><%= run.uuid %></a>
		<% end %></td>
		<td><%= format_time(exe.start_time) %></td>
		<td><%= to_minutes(exe.end_time.to_i - exe.start_time) %></td>
		<td><%= exe.success %></td>
		<td><%= exe.state_changes.size %></td>
		<td><% if run.automation %>
		<a href="/execs/<%= run.automation.id %>/tasks/<%= task.id %>/<%= exe.id %>">details</a>
		<% end %></td>
	</tr>
	<% end %>
	</tbody>
	</table>

	<% if exec %>
	<h3>Execution Details</h3>
		<p>Task execution UUID: <%= exec.uuid %></p>
		<% if exec.output && exec.output.strip != "" %>
		<h4>Script Output:</h4>
		<pre style="overflow: auto; height: 100px"><%= exec.output %></pre>
		<% end %>
		<% if !exec.success && exec.error_details %>
		<h4>Error Details:</h4>
		<pre style="overflow: auto; height: 250px"><%= exec.error_details %></pre>
		<% end %>
		<script type="text/javascript" src="/assets/jquery.jstree.js"></script>
		<script type="text/javascript" src="/assets/jquery.hotkeys.js"></script>
		<script type="text/javascript" src="/assets/jquery.cookie.js"></script>
		<script type="text/javascript" src="/assets/jstree.util.js"></script>
		<% if exec.state_before %>
		<div class="stateFrame">
			<h4>Pre-State:</h4>
			<div id="preState"></div>
		</div>
		<script type="text/javascript">
			var jsonData = <%= exec.state_before.to_json.html_safe %>
			initTree("preState", jsonData);
		</script>
		<% end %>
		<div style="width: 5%; float: left;">&nbsp;</div>
		<% if exec.state_after %>
		<div class="stateFrame">
			<h4>Post-State:</h4>
			<div id="postState"></div>
		</div>
		<script type="text/javascript">
			var jsonData = <%= exec.state_after.to_json.html_safe %>
			initTree("postState", jsonData);
		</script>
		<% end %>
		<div style="clear: both"></div>
	<% end %>

	<h3>State changes</h3>
	<table id="properties" class="tablesorter">
		<thead>
		<tr><th>Action</th><th>Property</th><th colspan="3">Value(s)</th><th>Occurrences</th><th>Occurrences (%)</th></tr>
		</thead>
		<tbody>
		<% task.global_state_prop_changes_map.each do |change,count| %>
		<tr><td><%= change.action %></td><td><%= change.property %></td>
			<td colspan="<%= change.action == Toaster::StateChange::ACTION_MODIFY ? 1 : 3 %>">
			<% if change.action == Toaster::StateChange::ACTION_MODIFY %>
			'<%= change.old_value %>'</td>
			<td>&rarr;</td>
			<td>
			<% end %>
			<% if change.action != Toaster::StateChange::ACTION_DELETE %>
			'<%= change.value %>'
			<% end %>
			</td>
			<td><%= count %></td>
			<td><%= format_float(count.to_f / global_executions.size.to_f * 100) %>%</td></tr>
		<% end %>
		</tbody>
	</table>

<% elsif run %>
<p>Automation run UUID: <%= run.uuid %></p>
<table class="tablesorter" id="tablesorter">
	<thead>
	<tr><th>#</th><th>Task ID</th>
		<th>Start Time</th><th>Duration</th>
		<th>Resource</th><th>Action</th><th>File</th><th>Line</th>
		<th>Success</th>
		<th colspan="2">Actions</th></tr>
	</thead>
	<tbody>
	<% count = 0
	run.task_executions.each_with_index { |exec,id|
	row = exec.task
	if show_toaster_tasks || !row.toaster_testing_task?
		active = task && row.id == task.id
		param_task = active ? "" : row.id
		clazz = active ? "active " : ""
		if !run && detailed
			all_execs = row.global_executions()
			all_changes = row.global_num_state_prop_changes(all_execs)
			clazz += all_changes <= 0 ? "warning " : ""
		end
		clazz += exec.success ? "success " : "error "
		clazz.strip!
		%>
		<tr<%= clazz != '' ? " class=\"#{clazz}\"" : "" %>>
			<td><%= count += 1 %></td>
			<td><%= row.uuid %></td>
			<td><%= to_minutes(exec.start_time - run.start_time) %></td>
			<td><%= to_minutes(exec.end_time - exec.start_time) %></td>
			<td><%= row.resource %></td>
			<td><%= row.action %></td>
			<td><%= row.sourcefile %></td>
			<td><%= row.sourceline %></td>
			<td><%= exec.success %></td>
			<td><a href="/execs/<%= run.automation.id %>/tasks/<%= exec.task.id %>/<%= exec.id %>">details</a></td>
		</tr>
	<% end
	} %>
	</tbody>
</table>

<% else %>
	Please select a task from the list to show its executions.
<% end %>

</div>