<%
require "toaster/model/automation"

automation = nil

begin

automation = cur_auto()

end

%>
<div>
<form action="<%= l({'p' => 'graph'}) %>" method="post">
<input type="hidden" name="sessionID" value="<%= $session["session_id"] %>"/>

	<% if automation %>
<h2>State Graph for Automation '<a href="/scripts/<%= automation.id %>/details"><%= automation.name %></a>'</h2>

	<% if param('genGraph') != ""
		idem = param('idempotenceN').gsub(/\s+/, "")
		if idem.include?("..")
			idem = eval("#{idem}").to_a.join(",")
		else
			idem = [idem.to_i]
		end
		skipN = param('skipN').gsub(/\s+/, "")
		skipNsucc = param('skipNsucc').gsub(/\s+/, "")
		combineN = param('combineN').gsub(/\s+/, "")
		combineNsucc = param('combineNsucc').gsub(/\s+/, "")
		repeatN = param('cycleFree') != "" ? "1" : "-1"
		onlyStart = param('onlyStart') != "" ? "true" : "false"
	%>
	<h3>State graph</h3>
<div id="loading">
	<img src="/assets/loading.gif" /><br/>
	Please wait while the graph is being loaded...
</div>
<!--<div id="graphFrameDiv" style="width: 99%; height: 350px; padding: 1px; border: 0px;">-->
<iframe src="<%= l('p' => "/graph/#{automation.id}/graph_frame", 'auto' => automation.id, 'onlyStart' => onlyStart, 'idemN' => idem, 'repeatN' => repeatN, 
	'skipN' => skipN, 'skipNsucc' => skipNsucc, 'combineN' => combineN, 'combineNsucc' => combineNsucc) %>" 
	style="margin: 1px; width: 99.5%; height: 98%; border: 2px solid #888888;" id="graphFrame"></iframe>
<!--</div>-->
<script type="text/javascript">
	$('iframe#graphFrame').load(function() {
        $('#loading').hide();
    });
	$('#graphFrameDiv').resizable();
</script>
<div style="clear: both; margin-top: 10px;">
<a href="<%= l('p' => 'graph_frame', 'auto' => automation.id) %>" target="_blank">Open in New Window</a>
</div>
	<% end %>

	<h3>Coverage Settings</h3>
	<table>
		<tr><td><b>Idempotence</b></td><td colspan="2">N &#8712; {<input type="text" name="idempotenceN" style="width: 150px" value="<%= param('idempotenceN','0') %>"/>}
			<br/>(test idempotence of N consecutive tasks)</td></tr>
		<tr><td><b>Combinations</b></td>
			<td>skip-N:</td><td>N &#8712; {<input type="text" name="skipN" style="width: 150px" value="<%= param('skipN') %>"/>}</td></tr>
			<tr><td></td><td>skip-N-successive:</td><td>N &#8712; {<input type="text" name="skipNsucc" style="width: 150px" value="<%= param('skipNsucc') %>"/>}</td></tr>
			<tr><td></td><td>combine-N:</td><td>N &#8712; {<input type="text" name="combineN" style="width: 150px" value="<%= param('combineN') %>"/>}</td></tr>
			<tr><td></td><td>combine-N-successive:</td><td>N &#8712; {<input type="text" name="combineNsucc" style="width: 150px" value="<%= param('combineNsucc') %>"/>}</td></tr>
		<tr><td><b>Iterations</b></td><td colspan="2"><input type="checkbox" name="cycleFree" <%= param('cycleFree') != '' ? 'checked="checked"' : '' %> />
			generate cycle-free graph</td></tr>
		<tr><td></td><td colspan="2"><input type="checkbox" name="onlyStart" <%= (param('genGraph') == '' || param('onlyStart') != '') ? 'checked="checked"' : '' %> /> always repeat from start node</td></tr>
		<tr><td></td><td colspan="2"><input type="submit" name="genGraph" value="Generate Graph"/></td></tr>
	</table>

	<% else %>
	<h2>State Graph</h2>
	Please select an automation to display its state graph.
	<% end %>
</form>
</div>